<div class='container py-5'>

  <div class='row'>
    <div class='col-12 col-lg-10 col-xl-8 mx-auto'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>
            新增你喜歡的餐廳
            <i class='fa-solid fa-utensils'></i></h5>
          <hr />
          {{> message}}
          <form method='POST' action='/restaurants' novalidate>
            <div class='row g-2 mb-3'>
              <label for='name' class='col-md-4 col-form-label'>
                Restaurant Name
              </label>
              <div class='col-md-8'>
                <input
                  type='text'
                  name='name'
                  class='form-control'
                  placeholder='請輸入餐廳名稱'
                  id='name'
                  onfocus='this.select()'
                  required
                />
                <div class='valid-feedback'>
                  Looks good!
                </div>
                <div class='invalid-feedback'>
                  這個欄位必填喔
                </div>
              </div>
            </div>
            <div class='form-group row g-2 mb-3'>
              <label
                for='category'
                class='col-md-4 col-form-label'
              >Category</label>
              <div class='col-md-8'>
                <input
                  list='categories'
                  class='form-control'
                  name='category'
                  id='category'
                  onfocus='this.select()'
                  required
                />
                <datalist id='categories'>
                  <option>中東料理</option>
                  <option>酒吧</option>
                  <option>義式餐廳</option>
                  <option>美式</option>
                  <option>日本料理</option>
                  <option>咖啡</option>
                  <option>韓式料理</option>
                </datalist>
                <small
                  class='text-muted form-text'
                >選擇類型，若找不到可以自行輸入</small>
                <div class='valid-feedback'>
                  Looks good!
                </div>
                <div class='invalid-feedback'>
                  這個欄位必填喔
                </div>
              </div>

            </div>
            <div class='row g-2 mb-3'>
              <label for='location' class='col-md-4 col-form-label'>
                Location
              </label>
              <div class='col-md-8'>
                <input
                  type='text'
                  name='location'
                  class='form-control'
                  id='location'
                  placeholder='輸入地址'
                  onfocus='this.select()'
                  required
                />
                <div class='valid-feedback'>
                  Looks good!
                </div>
                <div class='invalid-feedback'>
                  這個欄位必填喔
                </div>
              </div>
            </div>
            <div class='row g-2 mb-3'>
              <label for='google_map' class='col-md-4 col-form-label'>
                Google Map Link
              </label>
              <div class='col-md-8'>
                <input
                  type='text'
                  name='google_map'
                  class='form-control'
                  id='google_map'
                  placeholder='輸入google地圖連結，其他人可以更快找到餐廳'
                  onfocus='this.select()'
                  required
                />
                <div class='valid-feedback'>
                  Looks good!
                </div>
                <div class='invalid-feedback'>
                  這個欄位必填喔
                </div>
              </div>
            </div>
            <div class='row g-2 mb-3'>
              <label for='phone' class='col-md-4 col-form-label'>
                Phone
              </label>
              <div class='col-md-8'>
                <input
                  type='text'
                  name='phone'
                  class='form-control'
                  id='phone'
                  placeholder='請輸入電話'
                  onfocus='this.select()'
                  required
                />
                <div class='valid-feedback'>
                  Looks good!
                </div>
                <div class='invalid-feedback'>
                  這個欄位必填喔
                </div>
              </div>
            </div>
            <div class='row mb-3 g-2'>
              <label for='rating' class='col-md-4 col-form-label'>
                Rating
              </label>
              <div class='col-md-8'>
                <input
                  type='number'
                  name='rating'
                  class='form-control'
                  id='rating'
                  min='0'
                  max='5'
                  step='.1'
                  onfocus='this.select()'
                  required
                />
                <small class='text-muted form-text'>評價 0 ~ 5 分
                  這家店值得幾分呢?</small>
                <div class='valid-feedback'>
                  Looks good!
                </div>
                <div class='invalid-feedback'>
                  這個欄位必填喔
                </div>
              </div>
            </div>
            <div class='row g-2 mb-3'>
              <label for='image' class='col-md-4 col-form-label'>
                Photo Link
              </label>
              <div class='col-md-8'>
                <input
                  type='text'
                  name='image'
                  class='form-control'
                  id='image'
                  placeholder='店家圖片連結'
                  onfocus='this.select()'
                />

              </div>
            </div>
            <div class='row g-2 mb-3'>
              <label for='description' class='col-md-4 col-form-label'>
                Description
              </label>
              <div class='col-md-8 form-group'>
                <textarea
                  type='text'
                  name='description'
                  class='form-control'
                  id='description'
                  placeholder='向大家介紹一下這家店吧!'
                  rows='8'
                >{{restaurant.description}}</textarea>
                <small
                  class='text-muted form-text'
                >向大家介紹一下這家店吧(300字以內)</small>
              </div>
            </div>
            <!-- submit button -->
            <div class='d-flex justify-content-end'>
              <button
                class='btn btn-success'
                type='submit'
                id='submit-button'
              >Create</button>
            </div>
          </form>

        </div>

        <small class='card-footer text-muted text-end'>
          Guten Appetit! Thanks for your contribution.
        </small>
      </div>
    </div>
  </div>
</div>

<script src='/javascripts/validation.js'></script>